# **Photogallery and Photographer's event**

## **Introduction**

A company based in Toronto, Canada is organising an event, for photographers and their captured moments from all over the world. The organisers are willing to make a good impression, memoriable stay of guest at hotel, conference or discussion hall, 
local landscape to visit, stores for shopping, restaurants and cafes nearby. So the organiser's purpose is to make a list of all possible landscapes in Toronto, including nearest restaurants, cafes, and shopping malls for every guest.

## **Data Description**

The data used in this project is provided by Foursquare location data. Data is grouped by landscape area, and each entry in the dataframe included information on area, restaurants, cafes, and stores within the vicinity of area.

## **Table of contents**

#### 01- Import Libraries
#### 02- Define Foursquare Credentials
#### 03- Define the city and get its latitude & longitude
#### 04- Search for Hotels & clean dataframe
#### 05- Search for Parks & clean dataframe
#### 06- Search for Restaurants & clean dataframe
#### 07- Search for Cafeteria & clean dataframe 
#### 08- Search for Shopping Stores & clean dataframe
#### 09- Generate map to visualize hotels, shopping stores and Cafeteria and how they cluster together
#### 10- Generate map to visualize Park, Restaurant and Cafeteria and how they cluster together

## **Import Libraries**

In [3]:
import requests # to handle requests
import pandas as pd # for data analsysis
import numpy as np # to handle data in a vectorized manner

!pip install geopy 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
#tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

import folium # plotting library

Requirement already satisfied: geopy in /usr/local/lib/python3.6/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.6/dist-packages (from geopy) (1.50)

## **Define Foursquare Credentials**

In [4]:
ClIENT_ID = 'TGM5K1WCBLTUMURGV1KRVXHNJERYE5WKFOZFW3ET2MP5OL1S' # your Foursquare ID
ClIENT_SECRET = 'A1Y33Z44WSTFEL4XASW20OMOWGIHQY1NO0QXXCTWUXP4ANPV' # your Foursquare Secret
VERSION = '20200104'
LIMIT =30
print('Your credentails:')
print('Foursquare_ID: ' + ClIENT_ID)
print('Foursquare_Secret:' + ClIENT_SECRET)

Your credentails:
Foursquare_ID: TGM5K1WCBLTUMURGV1KRVXHNJERYE5WKFOZFW3ET2MP5OL1S
Foursquare_Secret:A1Y33Z44WSTFEL4XASW20OMOWGIHQY1NO0QXXCTWUXP4ANPV

## **Define the city and get its latitude & longitude**

In [6]:
# define the city and get its latitude & longitude 
city = 'Toronto'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(city)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

43.653963 -79.387207

## **Search for Hotels**

In [7]:
# search for hotels
search_query = 'Hotel'
radius = 500

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'\
.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=TGM5K1WCBLTUMURGV1KRVXHNJERYE5WKFOZFW3ET2MP5OL1S&client_secret=A1Y33Z44WSTFEL4XASW20OMOWGIHQY1NO0QXXCTWUXP4ANPV&ll=43.653963,-79.387207&v=20200104&query=Hotel&radius=500&limit=30'

In [0]:
# Send the GET Request and examine the results
results = requests.get(url).json()
#results

In [9]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()

                         id  ... location.neighborhood
0  4ab2d511f964a5209b6c20e3  ...                   NaN
1  4b68aed1f964a520de862be3  ...                   NaN
2  52ce14b0498e50457ce11780  ...                   NaN
3  4f343a31e4b0230a3b337a90  ...                   NaN
4  5545d07e498e2facac03f666  ...    Financial District

[5 rows x 19 columns]

## **Clean Hotel Dataframe**

In [10]:
# keep only columns that include venue name, and anything that is associated with location
clean_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')]+ ['id']
clean_dataframe = dataframe.loc[:,clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
clean_dataframe['categories'] = clean_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_dataframe.columns = [column.split('.')[-1] for column in clean_dataframe.columns]

clean_dataframe.head()

                                             name  ...                        id
0                   Sheraton Centre Toronto Hotel  ...  4ab2d511f964a5209b6c20e3
1                  The Rex Hotel Jazz & Blues Bar  ...  4b68aed1f964a520de862be3
2     DoubleTree by Hilton Hotel Toronto Downtown  ...  52ce14b0498e50457ce11780
3                                  VFM Test Hotel  ...  4f343a31e4b0230a3b337a90
4  Sheraton Centre Toronto Hotel - Grand Ballroom  ...  5545d07e498e2facac03f666

[5 rows x 16 columns]

In [11]:
# delete unnecessary columns
clean_dataframe2= clean_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs','neighborhood', 'id'], axis=1)
clean_dataframe2

                                              name  ...    state
0                    Sheraton Centre Toronto Hotel  ...       ON
1                   The Rex Hotel Jazz & Blues Bar  ...       ON
2      DoubleTree by Hilton Hotel Toronto Downtown  ...       ON
3                                   VFM Test Hotel  ...       ON
4   Sheraton Centre Toronto Hotel - Grand Ballroom  ...       ON
5                                  Stathcona Hotel  ...       ON
6                Sheraton Centre Hotel Club Lounge  ...       ON
7                                        650 Hotel  ...       ON
8                                Be SixFifty Hotel  ...       ON
9                               Shangri-La Toronto  ...       ON
10                                  Hilton Toronto  ...       ON
11                           89 Chestnut Residence  ...       ON
12    Marriott Downtown at CF Toronto Eaton Centre  ...       ON
13          Lobby Lounge at the Shangri-La Toronto  ...       ON
14                   Op mijn hotelkamer In Toronto  ...       ON
15                                  Fitness Centre  ...       ON
16                                  Fitness Centre  ...       ON
17                                  Grand Ballroom  ...       ON
18                                            Pool  ...  Ontario
19                                   Bistro on Two  ...       ON
20                                   Kumar For Men  ...       ON

[21 rows x 7 columns]

In [12]:
# delete rows with none values
clean_dataframe3 = clean_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
clean_dataframe3

                                            name  ... state
0                  Sheraton Centre Toronto Hotel  ...    ON
1                 The Rex Hotel Jazz & Blues Bar  ...    ON
2    DoubleTree by Hilton Hotel Toronto Downtown  ...    ON
3                                 VFM Test Hotel  ...    ON
9                             Shangri-La Toronto  ...    ON
10                                Hilton Toronto  ...    ON
11                         89 Chestnut Residence  ...    ON
12  Marriott Downtown at CF Toronto Eaton Centre  ...    ON
13        Lobby Lounge at the Shangri-La Toronto  ...    ON
15                                Fitness Centre  ...    ON
16                                Fitness Centre  ...    ON
17                                Grand Ballroom  ...    ON
19                                 Bistro on Two  ...    ON
20                                 Kumar For Men  ...    ON

[14 rows x 7 columns]

In [13]:
# delete rows which its category is not Hotel or Event Space
array= ['Hotel', 'Event Space']
hotel_dataframe= clean_dataframe3.loc[clean_dataframe3['categories'].isin(array)]
hotel_dataframe

                                            name   categories  ... postalCode  state
0                  Sheraton Centre Toronto Hotel        Hotel  ...    M5H 2M9     ON
2    DoubleTree by Hilton Hotel Toronto Downtown        Hotel  ...    M5G 1R3     ON
3                                 VFM Test Hotel        Hotel  ...    M2M 2M2     ON
9                             Shangri-La Toronto        Hotel  ...    M5H 0A3     ON
10                                Hilton Toronto        Hotel  ...    M5H 2L2     ON
12  Marriott Downtown at CF Toronto Eaton Centre        Hotel  ...    M5G 2L2     ON
17                                Grand Ballroom  Event Space  ...    M5H 2M9     ON

[7 rows x 7 columns]

In [14]:
# delete rows which has duplicate hotel's name
df_hotels = hotel_dataframe.drop_duplicates(subset='name', keep="first")
df_hotels

                                            name   categories  ... postalCode  state
0                  Sheraton Centre Toronto Hotel        Hotel  ...    M5H 2M9     ON
2    DoubleTree by Hilton Hotel Toronto Downtown        Hotel  ...    M5G 1R3     ON
3                                 VFM Test Hotel        Hotel  ...    M2M 2M2     ON
9                             Shangri-La Toronto        Hotel  ...    M5H 0A3     ON
10                                Hilton Toronto        Hotel  ...    M5H 2L2     ON
12  Marriott Downtown at CF Toronto Eaton Centre        Hotel  ...    M5G 2L2     ON
17                                Grand Ballroom  Event Space  ...    M5H 2M9     ON

[7 rows x 7 columns]

In [15]:
# choose the hotel which has the same postalCode with the event space
df_hotel = df_hotels[df_hotels.postalCode == 'M5H 2M9']
df_hotel

                             name   categories  ... postalCode  state
0   Sheraton Centre Toronto Hotel        Hotel  ...    M5H 2M9     ON
17                 Grand Ballroom  Event Space  ...    M5H 2M9     ON

[2 rows x 7 columns]

## **Search for Parks**

In [16]:
# search for Parks
search_query = 'Park'
radius = 10000

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'\
.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=TGM5K1WCBLTUMURGV1KRVXHNJERYE5WKFOZFW3ET2MP5OL1S&client_secret=A1Y33Z44WSTFEL4XASW20OMOWGIHQY1NO0QXXCTWUXP4ANPV&ll=43.653963,-79.387207&v=20200104&query=Park&radius=10000&limit=30'

In [0]:
# Send the GET Request and examine the results
presults = requests.get(url).json()
#presults

In [18]:
# assign relevant part of JSON to venues
venues = presults['response']['venues']

# tranform venues into a dataframe
park_dataframe = json_normalize(venues)
park_dataframe.head()

                         id  ... venuePage.id
0  4b170e47f964a5208cc123e3  ...          NaN
1  4b54deadf964a520a3d027e3  ...          NaN
2  4d3a1d23325ff04db2dd1845  ...          NaN
3  4bb79860cf2fc9b616779e02  ...          NaN
4  4ad80fcef964a520a61021e3  ...          NaN

[5 rows x 18 columns]

## **Clean Park Dataframe**

In [19]:
# keep only columns that include venue name, and anything that is associated with location
park_clean_columns = ['name', 'categories'] + [col for col in park_dataframe.columns if col.startswith('location.')]+ ['id']
clean_park_dataframe = park_dataframe.loc[:,park_clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list1 = row['categories']
    except:
        categories_list1 = row['venue.categories']
        
    if len(categories_list1) == 0:
        return None
    else:
        return categories_list1[0]['name']

# filter the category for each row
clean_park_dataframe['categories'] = clean_park_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_park_dataframe.columns = [column.split('.')[-1] for column in clean_park_dataframe.columns]

clean_park_dataframe.head()

                               name  ...                        id
0       Queen's Park Subway Station  ...  4b170e47f964a5208cc123e3
1                       Grange Park  ...  4b54deadf964a520a3d027e3
2  Residences at College Park North  ...  4d3a1d23325ff04db2dd1845
3                       Berczy Park  ...  4bb79860cf2fc9b616779e02
4                     One Park Lane  ...  4ad80fcef964a520a61021e3

[5 rows x 15 columns]

In [20]:
# delete unnecessary columns
clean_park_dataframe2= clean_park_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs', 'id'], axis=1)
clean_park_dataframe2

                                       name  ... state
0               Queen's Park Subway Station  ...    ON
1                               Grange Park  ...    ON
2          Residences at College Park North  ...    ON
3                               Berczy Park  ...    ON
4                             One Park Lane  ...    ON
5         St. Andrews Playground / Dog Park  ...    ON
6                              Queen's Park  ...    ON
7        TTC Streetcar #403 - Victoria park  ...    ON
8             Crunch Fitness - College Park  ...    ON
9                      Clarence Square Park  ...    ON
10                   Physiomed College Park  ...    ON
11                   Trinity Bellwoods Park  ...    ON
12         Toothworks - College Park Dental  ...    ON
13                  St Lawrence on the Park  ...    ON
14                     Bellevue Square Park  ...    ON
15                  Stanley Park (Dog Park)  ...    ON
16                             College Park  ...    ON
17                                 HTO Park  ...    ON
18                       Canoe Landing Park  ...    ON
19                       Battery Park Tower  ...    ON
20                              Regent Park  ...    ON
21  GoodLife Fitness Toronto Bloor and Park  ...    ON
22                      Riverdale Park East  ...    ON
23                        Barbara Hall Park  ...    ON
24                  Moss Park Tennis Courts  ...    ON
25                  Park Hyatt Bridal Suite  ...    ON
26             Regent Park Community Centre  ...    ON
27                              Regent Park  ...    ON
28                        Barbara Hall Park  ...    ON
29                  College Park Residences  ...    ON

[30 rows x 7 columns]

In [21]:
# delete rows with none values
clean_park_dataframe3 = clean_park_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
clean_park_dataframe3

                                       name  ... state
0               Queen's Park Subway Station  ...    ON
2          Residences at College Park North  ...    ON
4                             One Park Lane  ...    ON
6                              Queen's Park  ...    ON
8             Crunch Fitness - College Park  ...    ON
10                   Physiomed College Park  ...    ON
11                   Trinity Bellwoods Park  ...    ON
14                     Bellevue Square Park  ...    ON
16                             College Park  ...    ON
18                       Canoe Landing Park  ...    ON
19                       Battery Park Tower  ...    ON
21  GoodLife Fitness Toronto Bloor and Park  ...    ON
22                      Riverdale Park East  ...    ON
23                        Barbara Hall Park  ...    ON
26             Regent Park Community Centre  ...    ON

[15 rows x 7 columns]

In [22]:
# delete rows which its category is not Park
df_park = clean_park_dataframe3[clean_park_dataframe3.categories == 'Park']
df_park

                      name categories  ... postalCode  state
6             Queen's Park       Park  ...    M5R 2E8     ON
11  Trinity Bellwoods Park       Park  ...    M5H 2N2     ON
14    Bellevue Square Park       Park  ...    M5T 2N4     ON
18      Canoe Landing Park       Park  ...    M5V 3Z1     ON
22     Riverdale Park East       Park  ...    M4K 2P1     ON
23       Barbara Hall Park       Park  ...    M4Y 2K9     ON

[6 rows x 7 columns]

## **Search for Restaurants**

In [23]:
# search for Restaurants
search_query = 'Restaurant'
radius = 10000

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=TGM5K1WCBLTUMURGV1KRVXHNJERYE5WKFOZFW3ET2MP5OL1S&client_secret=A1Y33Z44WSTFEL4XASW20OMOWGIHQY1NO0QXXCTWUXP4ANPV&ll=43.653963,-79.387207&v=20200104&query=Restaurant&radius=10000&limit=30'

In [0]:
# Send the GET Request and examine the results
Rresults = requests.get(url).json()
#Rresults

In [25]:
# assign relevant part of JSON to venues
venues = Rresults['response']['venues']

# tranform venues into a dataframe
Restaurant_dataframe = json_normalize(venues)
Restaurant_dataframe.head()

                         id  ... venuePage.id
0  4ad4c05ff964a52048f720e3  ...          NaN
1  4ad4c060f964a5207ff720e3  ...          NaN
2  4ae29812f964a520288f21e3  ...          NaN
3  4b074bb1f964a52077fb22e3  ...          NaN
4  4b266f05f964a520657b24e3  ...          NaN

[5 rows x 19 columns]

## **Clean Restaurant Dataframe**

In [26]:
# keep only columns that include venue name, and anything that is associated with location
Restaurant_clean_columns = ['name', 'categories'] + [col for col in Restaurant_dataframe.columns if col.startswith('location.')]+ ['id']
clean_Restaurant_dataframe = Restaurant_dataframe.loc[:,Restaurant_clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list3 = row['categories']
    except:
        categories_list3 = row['venue.categories']
        
    if len(categories_list3) == 0:
        return None
    else:
        return categories_list3[0]['name']

# filter the category for each row
clean_Restaurant_dataframe['categories'] = clean_Restaurant_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_Restaurant_dataframe.columns = [column.split('.')[-1] for column in clean_Restaurant_dataframe.columns]

clean_Restaurant_dataframe.head()

                              name  ...                        id
0  Hemispheres Restaurant & Bistro  ...  4ad4c05ff964a52048f720e3
1           Rol San Restaurant 龍笙棧  ...  4ad4c060f964a5207ff720e3
2          Swatow Restaurant 汕頭小食家  ...  4ae29812f964a520288f21e3
3         New Sky Restaurant 小沙田食家  ...  4b074bb1f964a52077fb22e3
4   Goldstone Noodle Restaurant 金石  ...  4b266f05f964a520657b24e3

[5 rows x 16 columns]

In [27]:
# delete unnecessary columns
clean_Restaurant_dataframe2= clean_Restaurant_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs', 'neighborhood', 'id'], axis=1)
clean_Restaurant_dataframe2

                                              name  ... state
0                  Hemispheres Restaurant & Bistro  ...    ON
1                           Rol San Restaurant 龍笙棧  ...    ON
2                          Swatow Restaurant 汕頭小食家  ...    ON
3                         New Sky Restaurant 小沙田食家  ...    ON
4                   Goldstone Noodle Restaurant 金石  ...    ON
5                     Aroma Fine Indian Restaurant  ...    ON
6                            Victoria's Restaurant  ...    ON
7                                   360 Restaurant  ...    ON
8                           Azure Restaurant & Bar  ...    ON
9               North-East Chinese Restaurant 華北美食  ...    ON
10                  The Hot House Restaurant & Bar  ...    ON
11                   Green Tea Restaurant Downtown  ...    ON
12              Some Time BBQ Grill Restaurant 碳烤屋  ...    ON
13                        Ka Chi Korean Restaurant  ...    ON
14              Sky Dragon Chinese Restaurant 龍翔酒樓  ...    ON
15                         Victor Restaurant & Bar  ...    ON
16                  Insomnia Restaurant and Lounge  ...    ON
17                   Hong Shing Chinese Restaurant  ...    ON
18                     Woodlot Restaurant & Bakery  ...    ON
19                           ONE Restaurant/Lounge  ...    ON
20         Tasty's Caribbean Restaurant & Catering  ...    ON
21                         The Lakeview Restaurant  ...    ON
22  Sassafraz | Cafe | Restaurant | Private Events  ...    ON
23                               Studio Restaurant  ...    ON
24                    Yueh Tung Chinese Restaurant  ...    ON
25                 Kyoto House Japanese Restaurant  ...    ON
26               Kensington Cornerstone Restaurant  ...    ON
27                      Wah Too Seafood Restaurant  ...    ON
28                     Cottage Restaurant & Lounge  ...    ON
29               El Rancho Restaurant & Night Club  ...    ON

[30 rows x 7 columns]

In [28]:
# delete rows with none values
df_Restaurant = clean_Restaurant_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
df_Restaurant

                                              name  ... state
0                  Hemispheres Restaurant & Bistro  ...    ON
1                           Rol San Restaurant 龍笙棧  ...    ON
2                          Swatow Restaurant 汕頭小食家  ...    ON
3                         New Sky Restaurant 小沙田食家  ...    ON
4                   Goldstone Noodle Restaurant 金石  ...    ON
5                     Aroma Fine Indian Restaurant  ...    ON
6                            Victoria's Restaurant  ...    ON
7                                   360 Restaurant  ...    ON
8                           Azure Restaurant & Bar  ...    ON
10                  The Hot House Restaurant & Bar  ...    ON
11                   Green Tea Restaurant Downtown  ...    ON
13                        Ka Chi Korean Restaurant  ...    ON
15                         Victor Restaurant & Bar  ...    ON
16                  Insomnia Restaurant and Lounge  ...    ON
17                   Hong Shing Chinese Restaurant  ...    ON
18                     Woodlot Restaurant & Bakery  ...    ON
20         Tasty's Caribbean Restaurant & Catering  ...    ON
21                         The Lakeview Restaurant  ...    ON
22  Sassafraz | Cafe | Restaurant | Private Events  ...    ON
23                               Studio Restaurant  ...    ON
26               Kensington Cornerstone Restaurant  ...    ON
27                      Wah Too Seafood Restaurant  ...    ON
28                     Cottage Restaurant & Lounge  ...    ON
29               El Rancho Restaurant & Night Club  ...    ON

[24 rows x 7 columns]

## **Search for Cafeteria**

In [29]:
# search for Cafeteria
search_query = 'Cafeteria'
radius = 10000

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=TGM5K1WCBLTUMURGV1KRVXHNJERYE5WKFOZFW3ET2MP5OL1S&client_secret=A1Y33Z44WSTFEL4XASW20OMOWGIHQY1NO0QXXCTWUXP4ANPV&ll=43.653963,-79.387207&v=20200104&query=Cafeteria&radius=10000&limit=30'

In [0]:
# Send the GET Request and examine the results
cresults = requests.get(url).json()

In [32]:
# assign relevant part of JSON to venues
venues = cresults['response']['venues']

# tranform venues into a dataframe
Cafeteria_dataframe = json_normalize(venues)
Cafeteria_dataframe.head()

                         id  ... location.postalCode
0  4f9165bde4b04fef0087e4e2  ...                 NaN
1  528e99a211d262edc3708a6f  ...             M5T 2G5
2  53bd6dfe498e6c1d3bc9333e  ...                 NaN
3  4ec2b68a8231a83de8c45191  ...                 NaN
4  556f826b498e07f469e6bf1f  ...                 NaN

[5 rows x 17 columns]

## **Clean Cafeteria Dataframe**

In [33]:
# keep only columns that include venue name, and anything that is associated with location
Cafeteria_clean_columns = ['name', 'categories'] + [col for col in Cafeteria_dataframe.columns if col.startswith('location.')]+ ['id']
clean_Cafeteria_dataframe = Cafeteria_dataframe.loc[:,Cafeteria_clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list4 = row['categories']
    except:
        categories_list4 = row['venue.categories']
        
    if len(categories_list4) == 0:
        return None
    else:
        return categories_list4[0]['name']

# filter the category for each row
clean_Cafeteria_dataframe['categories'] = clean_Cafeteria_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_Cafeteria_dataframe.columns = [column.split('.')[-1] for column in clean_Cafeteria_dataframe.columns]

clean_Cafeteria_dataframe.head()

                            name  ...                        id
0                      Cafeteria  ...  4f9165bde4b04fef0087e4e2
1              Stay Cafeteria 慢走  ...  528e99a211d262edc3708a6f
2  Industrial Alliance Cafeteria  ...  53bd6dfe498e6c1d3bc9333e
3                 OCAD Cafeteria  ...  4ec2b68a8231a83de8c45191
4                Dears Cafeteria  ...  556f826b498e07f469e6bf1f

[5 rows x 15 columns]

In [34]:
# delete unnecessary columns
clean_Cafeteria_dataframe2= clean_Cafeteria_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs', 'id'], axis=1)
clean_Cafeteria_dataframe2

                                     name  ... postalCode
0                               Cafeteria  ...        NaN
1                       Stay Cafeteria 慢走  ...    M5T 2G5
2           Industrial Alliance Cafeteria  ...        NaN
3                          OCAD Cafeteria  ...        NaN
4                         Dears Cafeteria  ...        NaN
5                 Chestnut Tree Cafeteria  ...        NaN
6                         Sears Cafeteria  ...        NaN
7           De La Salle College Cafeteria  ...    M4V 1H7
8                       Med Sci Cafeteria  ...        NaN
9                       Robarts Cafeteria  ...        NaN
10                  Ryerson Hub Cafeteria  ...        NaN
11                     SickKids Cafeteria  ...        NaN
12              Macdonald Block Cafeteria  ...        NaN
13                          OMP Cafeteria  ...        NaN
14                       Rogers Cafeteria  ...        NaN
15                      Choices Cafeteria  ...        NaN
16    Cafeteria, Lawrence Park Collegiate  ...        NaN
17                       Kasala Cafeteria  ...        NaN
18    Cafeteria, Lawrence Park Collegiate  ...        NaN
19                             Marketeria  ...    M5B 1W8
20  George Brown College St. James Campus  ...        NaN
21               Estonian House Cafeteria  ...        NaN
22                                The Hub  ...    M5B 2K3
23                           CC Cafeteria  ...        NaN
24                             Radio Cafe  ...        NaN
25     Lawrence Park Collegiate Cafeteria  ...        NaN
26                           L5 Cafeteria  ...        NaN
27  6th Floor Cafeteria 12 Concorde Place  ...    m3c 3k7
28                          Innis College  ...    M5S 1J5
29          Westpark Healthcare Cafeteria  ...        NaN

[30 rows x 7 columns]

In [35]:
# delete rows with none values
df_Cafeteria = clean_Cafeteria_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
df_Cafeteria

                                     name         categories  ... state  postalCode
1                       Stay Cafeteria 慢走   Asian Restaurant  ...    ON     M5T 2G5
7           De La Salle College Cafeteria  College Cafeteria  ...    ON     M4V 1H7
19                             Marketeria         Restaurant  ...    ON     M5B 1W8
22                                The Hub  College Cafeteria  ...    ON     M5B 2K3
27  6th Floor Cafeteria 12 Concorde Place               Café  ...    ON     m3c 3k7
28                          Innis College     Student Center  ...    ON     M5S 1J5

[6 rows x 7 columns]

## **Search for Shopping Stores**

In [36]:
# search for Shopping
search_query = 'Shopping'
radius = 1000

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=TGM5K1WCBLTUMURGV1KRVXHNJERYE5WKFOZFW3ET2MP5OL1S&client_secret=A1Y33Z44WSTFEL4XASW20OMOWGIHQY1NO0QXXCTWUXP4ANPV&ll=43.653963,-79.387207&v=20200104&query=Shopping&radius=1000&limit=30'

In [0]:
# Send the GET Request and examine the results
sresults = requests.get(url).json()
#sresults

In [38]:
# assign relevant part of JSON to venues
venues = sresults['response']['venues']

# tranform venues into a dataframe
Shopping_dataframe = json_normalize(venues)
Shopping_dataframe.head()

                         id  ...          location.neighborhood
0  4ad4c062f964a520fcf720e3  ...                            NaN
1  4ad77a12f964a520260b21e3  ...  Downtown Toronto, Toronto, ON
2  4b9e86dff964a520e6eb36e3  ...                            NaN
3  5840cafe06f1a34af80cc609  ...                            NaN
4  4b83d653f964a520d91231e3  ...                            NaN

[5 rows x 18 columns]

## **Clean Shopping Dataframe**

In [39]:
# keep only columns that include venue name, and anything that is associated with location
Shopping_clean_columns = ['name', 'categories'] + [col for col in Shopping_dataframe.columns if col.startswith('location.')]+ ['id']
clean_Shopping_dataframe = Shopping_dataframe.loc[:,Shopping_clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list5 = row['categories']
    except:
        categories_list5 = row['venue.categories']
        
    if len(categories_list5) == 0:
        return None
    else:
        return categories_list5[0]['name']

# filter the category for each row
clean_Shopping_dataframe['categories'] = clean_Shopping_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_Shopping_dataframe.columns = [column.split('.')[-1] for column in clean_Shopping_dataframe.columns]

clean_Shopping_dataframe.head()

                                         name  ...                        id
0                Dragon City Shopping Mall 龍城  ...  4ad4c062f964a520fcf720e3
1                     CF Toronto Eaton Centre  ...  4ad77a12f964a520260b21e3
2                TD Centre Shopping Concourse  ...  4b9e86dff964a520e6eb36e3
3  Saks Fifth Avenue Club - Personal Shopping  ...  5840cafe06f1a34af80cc609
4             Yellow Pages - RedFlagDeals.com  ...  4b83d653f964a520d91231e3

[5 rows x 16 columns]

In [40]:
# delete unnecessary columns
clean_Shopping_dataframe2= clean_Shopping_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs', 'neighborhood', 'id'], axis=1)
clean_Shopping_dataframe2

                                         name  ... state
0                Dragon City Shopping Mall 龍城  ...    ON
1                     CF Toronto Eaton Centre  ...    ON
2                TD Centre Shopping Concourse  ...    ON
3  Saks Fifth Avenue Club - Personal Shopping  ...    ON
4             Yellow Pages - RedFlagDeals.com  ...    ON

[5 rows x 7 columns]

In [41]:
# delete rows which its category is not Shopping Mall
df_Shopping = clean_Shopping_dataframe2[clean_Shopping_dataframe2.categories == 'Shopping Mall']
df_Shopping

                           name     categories  ... postalCode  state
0  Dragon City Shopping Mall 龍城  Shopping Mall  ...    M5T 3A5     ON
1       CF Toronto Eaton Centre  Shopping Mall  ...    M5B 2H1     ON
2  TD Centre Shopping Concourse  Shopping Mall  ...    M5K 1A1     ON

[3 rows x 7 columns]

## **Generate map to visualize hotels, shopping stores and Cafeteria and how they cluster together**

In [42]:
# create dataframe of hotels, shopping stores and Cafeteria
hotel_neighbourhood_df = pd.concat([df_hotel, df_Cafeteria, df_Shopping], ignore_index=True)
hotel_neighbourhood_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

                  address         categories  ...  postalCode  state
0   123 Queen Street West              Hotel  ...     M5H 2M9     ON
1         123 Queen St. W        Event Space  ...     M5H 2M9     ON
2         388 Spadina Ave   Asian Restaurant  ...     M5T 2G5     ON
3      131 Farnham Avenue  College Cafeteria  ...     M4V 1H7     ON
4             30 Bond St.         Restaurant  ...     M5B 1W8     ON
5        350 Victoria St.  College Cafeteria  ...     M5B 2K3     ON
6       12 Concorde Place               Café  ...     m3c 3k7     ON
7            2 Sussex Ave     Student Center  ...     M5S 1J5     ON
8         280 Spadina Ave      Shopping Mall  ...     M5T 3A5     ON
9            220 Yonge St      Shopping Mall  ...     M5B 2H1     ON
10     66 Wellington St W      Shopping Mall  ...     M5K 1A1     ON

[11 rows x 7 columns]

In [43]:
# Generate map to visualize hotel neighbourhood including shopping stores and Cafeteria 
hotel_map = folium.Map(location=[latitude, longitude], zoom_start=14)

for lat, lng, name, categories, address in zip(hotel_neighbourhood_df['lat'], hotel_neighbourhood_df['lng'], 
                                           hotel_neighbourhood_df['name'], hotel_neighbourhood_df['categories'],\
                                               hotel_neighbourhood_df['address']):
    label = '{}, {}'.format(name, address)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='blue',
        fill_opacity=0.7,
        parse_html=False).add_to(hotel_map)  
    
hotel_map

## **Generate map to visualize Park, Restaurant and Cafeteria and how they cluster together**

In [44]:
# create dataframe of Park, Restaurant and Cafeteria
park_neighbourhood_df = pd.concat([df_park, df_Restaurant, df_Cafeteria,], ignore_index=True)
park_neighbourhood_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

                            address               categories  ...  postalCode  state
0                   University Ave.                     Park  ...     M5R 2E8     ON
1                1053 Dundas St. W.                     Park  ...     M5H 2N2     ON
2      btwn Bellevue & Augusta Ave.                     Park  ...     M5T 2N4     ON
3                 50 Fort York Blvd                     Park  ...     M5V 3Z1     ON
4                 550 Broadview Ave                     Park  ...     M4K 2P1     ON
5                     519 Church St                     Park  ...     M4Y 2K9     ON
6               110 Chestnut Street      American Restaurant  ...     M5G 1R3     ON
7                  323 Spadina Ave.       Dim Sum Restaurant  ...     M5T 2E9     ON
8                  309 Spadina Ave.       Chinese Restaurant  ...     M5T 2E6     ON
9                  353 Spadina Ave.       Chinese Restaurant  ...     M5T 2G3     ON
10                  266 Spadina Ave             Noodle House  ...     M5T 2E4     ON
11                   287 King St. W        Indian Restaurant  ...     M5V 1J5     ON
12              37 King Street East               Restaurant  ...     M5C 1E9     ON
13                   301 Front St W                 Wine Bar  ...     M5V 2T6     ON
14                   225 Front St W               Restaurant  ...     M5V 2X3     ON
15                     35 Church St      American Restaurant  ...     M5E 1T3     ON
16  261 Spadina Avenue. Upper level       Chinese Restaurant  ...     M5T 2E3     ON
17                  8 St Andrew St.        Korean Restaurant  ...     M5T 1K6     ON
18                 30 Mercer Street                      Bar  ...     M5V 1H3     ON
19                563 Bloor St West               Restaurant  ...     M5S 1Y6     ON
20                  195 Dundas St W       Chinese Restaurant  ...     M5G 1C7     ON
21              293 Palmerston Ave.  New American Restaurant  ...     M6J 2J3     ON
22                  405 Spadina Ave     Caribbean Restaurant  ...     M5T 2G6     ON
23                1132 Dundas St. W                    Diner  ...     M6J 1X2     ON
24            100 Cumberland Street              Event Space  ...     M5R 1A6     ON
25                   389 Church St.           Breakfast Spot  ...         M5B     ON
26               2A Kensington Ave.           Breakfast Spot  ...     M5T 2J7     ON
27                   56 Centre Ave.       Chinese Restaurant  ...     M5G 1R5     ON
28                   338 Jarvis St.          Thai Restaurant  ...     M4Y 2G6     ON
29                  430 College St.                Nightclub  ...     M5T 1T3     ON
30                  388 Spadina Ave         Asian Restaurant  ...     M5T 2G5     ON
31               131 Farnham Avenue        College Cafeteria  ...     M4V 1H7     ON
32                      30 Bond St.               Restaurant  ...     M5B 1W8     ON
33                 350 Victoria St.        College Cafeteria  ...     M5B 2K3     ON
34                12 Concorde Place                     Café  ...     m3c 3k7     ON
35                     2 Sussex Ave           Student Center  ...     M5S 1J5     ON

[36 rows x 7 columns]

In [45]:
# Generate map to visualize park neighbourhood including Restaurant and Cafeteria 
park_map = folium.Map(location=[latitude, longitude], zoom_start=14)

for lat, lng, name, categories, address in zip(park_neighbourhood_df['lat'], park_neighbourhood_df['lng'], 
                                           park_neighbourhood_df['name'], park_neighbourhood_df['categories'],\
                                               park_neighbourhood_df['address']):
    label = '{}, {}'.format(name, address)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='blue',
        fill_opacity=0.7,
        parse_html=False).add_to(park_map)  
    
park_map

In [46]:
print("Thank you for visiting our project!\a")

Thank you for visiting our project!